In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
plt.style.use("fivethirtyeight")
sns.set_context("notebook")

from imblearn.over_sampling import SMOTE

In [11]:
df_loan = pd.read_csv("./loan_data.csv")

df_loan.head(10)

,credit_policy,purpose,int_rate,installment,log_annual_inc,dti,fico,days_with_cr_line,revol_bal,revol_util,inq_last_6mths,delinq_2yrs,pub_rec,not_fully_paid
0,1,credit_card,0.143,498.35,150000.0,15.70,694,37865,19748,0.674,3,5.0,0,0
1,1,home_improvement,0.110,870.29,55000.0,30.13,734,35947,11898,0.476,2,1.0,0,0
2,1,credit_card,0.088,785.32,165000.0,16.11,694,36373,20681,0.567,0,0.0,0,0
3,1,credit_card,0.170,285.03,40000.0,32.07,744,40269,8514,0.226,2,0.0,0,0
4,1,debt_consolidation,0.088,570.81,36000.0,23.73,714,38565,7555,0.256,1,0.0,0,1
5,1,debt_consolidation,0.170,893.73,115000.0,28.58,679,37803,60984,0.956,0,0.0,0,1
6,1,credit_card,0.143,281.09,95000.0,18.51,749,36008,14083,0.156,0,0.0,0,1
7,1,debt_consolidation,0.110,435.05,20160.0,123.93,774,41365,353,0.007,1,0.0,0,1
8,1,debt_consolidation,0.088,1268.46,130000.0,20.09,704,37469,29208,0.507,0,0.0,0,1
9,1,debt_consolidation,0.161,365.73,30000.0,37.28,734,35490,13869,0.431,0,0.0,0,1

In [12]:
df_loan.count()

credit_policy        37066
purpose              37066
int_rate             37066
installment          37066
log_annual_inc       37066
dti                  36966
fico                 37066
days_with_cr_line    37066
revol_bal            37066
revol_util           37054
inq_last_6mths       37066
delinq_2yrs          37032
pub_rec              37066
not_fully_paid       37066
dtype: int64